@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-success display-4 text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Please check your email to reset your password.
</p>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <a href="/" class="btn btn-success btn-lg">Go to Home</a>
    </div>
</div>
