@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="container mt-5">
    <h3 class="text-center text-success mb-4">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="email-form" method="post" class="p-4 border rounded shadow-sm bg-light-green">
                <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

                <!-- Current Email -->
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input asp-for="Email" class="form-control" placeholder="Your current email" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text bg-success text-white font-weight-bold">✓</span>
                        </div>
                        <label asp-for="Email">Current Email</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Your current email" disabled />
                        <label asp-for="Email">Current Email</label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link text-decoration-none">Send Verification Email</button>
                    </div>
                }

                <!-- New Email -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter new email" />
                    <label asp-for="Input.NewEmail">New Email</label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <!-- Change Email Button -->
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-success btn-lg">Change Email</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
